.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.navbarActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
}

.navbarBrand {
  height: 42px;
}
.logo {
  height: 100%;
}
.cartIcon,
.searchIcon,
.userIcon {
  fill: #000;
  height: 30px;
  width: 30px;
}
.cartIcon {
  position: relative;
}
.cartCount {
  position: absolute;
  background: red;
  width: 15px;
  height: 15px;
  z-index: 9;
  display: felx;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  padding-inline: 10px;
}
.navLinkDropdown {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  padding-inline: 10px;
  display: block;
}
.dropdown {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  padding-inline: 10px 30px;
  width: 120px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  margin: 0 auto;
  background: rgba(156, 153, 153, 0.17);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid rgba(156, 153, 153, 0.12);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999 !important;
  font-size: 14px;
}
.tbPerfume {
  display: none;
}
.giPerfume {
  display: none;
}
.giPerfumeDrop {
  display: none;
}
.navLinkDropdown {
  padding-block: 10px;
  min-width: 100px;
  margin-left: 130px;
}
.dropdown {
  width: 250px;
}
@media only screen and (max-width: 990px) {
  .navbarBrand {
    position: absolute;
    left: -150px;
  }
  .logo {
    height: 100%;
  }

  .navLink {
    position: absolute;
    right: 20px;
    font-weight: 500;
  }
  .navLink:first-child {
    top: 50px;
  }
  .navLink:nth-child(2) {
    top: 100px;
  }
  .navLink:nth-child(3) {
    top: 150px;
  }
  .dropdown {
    position: absolute;
    right: -10px;
    top: 150px;
    font-weight: 500;
  }
  .tbPerfume {
    display: inline-block;
    margin-left: 10px;
  }
  .giPerfume {
    display: inline-block;
    margin-left: 10px;
    fill: #000;
  }
  .giPerfumeDrop {
    display: inline-block;
    position: absolute;
    top: 200px;
    right: 32px;
    fill: #000;
    font-size: 16px;
  }
  .navLinkDropdown {
    font-weight: 500;
    padding-block: 10px;
  }
  .dropdown {
    width: 300px;
  }
}
@media only screen and (max-width: 425px) {
  .logo {
    display: none;
  }
  .cartIcon,
  .searchIcon,
  .userIcon {
    fill: #000;
    height: 20px;
    width: 20px;
  }
  .cartCount {
    top: 40px;
    left: 50px;
  }
}
