.name {
  color: #1f2937;
  font-size: 12px !important;
  font-weight: 700;
  text-align: center;
}
.price {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px !important;
}
.action {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.actionBtn {
  background: transparent;
  border: 1px solid #1f2937;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.cardIcon {
  background: transparent;
  fill: #1f2937;
  height: 20px;
  width: 20px;
}
.cardBody {
  transition: all 0.3s;
  margin-top: 30px;
  transform: translateY(10%);
}
.card:hover .cardBody {
  cursor: pointer;
  transform: translateY(-50%);
}
.card {
  overflow: hidden;
  border: none !important;
  height: 282px !important;
}
