.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-inline: 40px;
  padding-block: 70px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}
.imgBox {
  margin: 30px;
  display: inline-block;
  width: 100%;
}
.imgBox img {
  width: 100%;
}
.contentBox {
}
.name {
  color: #1f2937;
}
.price {
  color: red;
}
.available {
  color: #108043;
}
.checkIcon {
  fill: #108043;
}

.countControlBox {
  margin-block: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countControl {
  display: flex;
  gap: 10px;
}
.btn {
  border: none;
  width: 30px;
  height: 30px;
  display: felx;
  text-align: center;
  font-size: 16px;
  background: #fff;
  border: 1px solid #9ca3af;
  border-radius: 6px;
}
.cartItemIcon {
  fill: #9ca3af;
}

.cartItemInput {
  border: none;
  width: 50px;
  height: 30px;
  display: felx;
  text-align: center;
  border: 1px solid #9ca3af;
  border-radius: 6px;
}
.amount {
  font-size: 16px;
}
.addToCartBtn {
  border: none;
  width: 50%;
  height: 40px;
  display: felx;
  text-align: center;
  font-size: 14px;
  font-size: 700;
  background: #263e0f;
  color: #fff;
  transition: all 0.3s;
  padding-inline: 20px;
  width: 200px;
}
.addToCartBtn:hover {
  background: #000;
}
.buyNowBtn {
  border: none;
  width: 50%;
  height: 40px;
  display: felx;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #263e0f;
  background: #fff;
  color: #263e0f;
  transition: all 0.3s;
  width: 200px;
}
.buyNowBtn:hover {
  color: #fff;
  background: #263e0f;
}
.buyNowBtn:hover .solidIcon {
  fill: #fff;
}

.buyActions {
  display: flex;
  gap: 10px;
}
.availableBtn {
  border: none;
  width: 100%;
  height: 30px;
  display: felx;
  text-align: center;
  font-size: 16px;
  font-size: 700;
  background: #263e0f;
  color: #fff;
}
.solidIcon {
  fill: #263e0f;
}
.closeIcon {
  fill: red;
}
.soldout {
  color: red;
}

@media only screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .contentBox {
    margin-bottom: 100px;
  }
  .addToCartBtn {
    width: 50%;
    font-size: 10px;
  }
  .buyNowBtn {
    width: 50%;
    font-size: 10px;
  }
  .contentBox {
    width: 90%;
  }
}
