.searchContainer {
  z-index: 999;
  heigt: 100;
}
.SearchBarOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.input {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  box-shadow: none;
  width: 35%;
  height: 60px;
  border-radius: 8px;
  padding: 10px 20px;
}
.input::placeholder {
  font-size: 14px;
}
.inputBox {
}
.inputSearchIcon {
  fill: red;
  position: absolute;
  top: 0;
  left: 0;
}
.productList {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
  width: 35%;
  overflow-y: scroll;
  border-radius: 8px;
}
.searchProduct {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
.searchProductImgBox {
  height: 70px;
}
.searchProductImgBox img {
  height: 100%;
}
.productName {
  font-size: 16px;
  color: #4b5563;
}
.productPrice {
  font-size: 14px;
  color: #263e0f;
}
/* Width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.customLink {
  text-decoration: none;
  display: flex;
  gap: 10px;
}
