ul {
  list-style: none;
  display: flex;

  font-size: 14px;
}

li {
  font-family: "cairo";
}
li:first-child {
  padding-left: 20px;
}
li:nth-child(2) {
  padding-inline: 20px;
  border-inline: 1px solid #000;
}
li:last-child {
  padding-right: 20px;
}
